<%- include('../partials/header') %>

<h2><%= vehicle.year %> <%= vehicle.make %> <%= vehicle.model %></h2>

<div class="vehicle-gallery">
  <% if (images.length === 0) { %>
    <img src="https://placehold.co/600x450?text=No+Image" alt="No image available">
  <% } else { %>
    <% images.forEach(function(image) { %>
      <img src="<%= image.image_url %>" alt="<%= vehicle.make %> <%= vehicle.model %>">
    <% }); %>
  <% } %>
</div>

<table class="vehicle-specs">
  <tr><th>Price</th><td>$<%= vehicle.price %></td></tr>
  <tr><th>Mileage</th><td><%= vehicle.mileage %> miles</td></tr>
  <tr><th>Category</th><td><%= vehicle.category_name || "Uncategorized" %></td></tr>
  <tr><th>Availability</th><td><%= vehicle.availability_status %></td></tr>
</table>

<p><%= vehicle.description %></p>

<%- include('../partials/footer') %>